body {
  font-family: "Roboto";
  color: #000000;
}
.container {
  max-width: -webkit-fill-available;
}
.weather-app {
  position: relative;
  height: 574px;
  padding: 50px;
  left: 0px;
  top: 0px;
  background: linear-gradient(
    180deg,
    rgba(71, 167, 255, 0.5) 38.05%,
    rgba(255, 255, 255, 0.5) 100%
  );
}

p {
  position: absolute;
  top: 121px;

  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
}
h2 {
  position: absolute;
  top: 130px;

  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 70px;
  text-align: center;

  color: #000000;
}
h1 {
  position: absolute;
  top: 134px;

  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 163px;
  text-align: center;
  color: #000000;
}

.icono {
  list-style: none;
  position: absolute;
  top: 142px;
  text-transform: capitalize;
  line-height: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
}
.feels {
  list-style: none;
  position: absolute;
  top: 184px;

  line-height: 41px;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
}
.factores {
  list-style: none;
  position: absolute;
  top: 184px;

  line-height: 41px;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
}
#cf {
  position: absolute;
  top: 192px;
  left: 124px;
}

.btn {
  border-radius: 30.5979px;
  border: 0.982759px solid #000000;
  width: 174.41px;
}
.form-control {
  border: 0.982759px solid #000000;
  border-radius: 60px;
}
